.App {
  text-align: center;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;

}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 10px 5px 0px;

  ul {
    display: flex;
    width: fit-content;
    justify-content: space-around;
    gap: 10px;

    li {
      width: 100%;
      cursor: pointer;


      a {
        display: flex;
        text-decoration: none;
        width: 100%;
        justify-content: center;
        font-weight: bold;
        color: rgb(61, 57, 57);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
        /* Offset the underline */
        text-decoration-color: transparent;
        transition: text-decoration-color 0.3s ease;

        &:hover {
          text-decoration-color: black;

        }

        &.active {
          text-decoration-color: black;
        }
      }
    }

  }


}

#about {
  scroll-margin-top: 200px;
}

#skills {
  scroll-margin-top: 200px;
}

#projects {
  scroll-margin-top: 200px;
}

#contact {
  scroll-margin-top: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 200px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  ;
}

.container img {
  height: 300px;
  width: 550px;

}